@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Doppio+One&family=Kiwi+Maru:wght@500&family=ZCOOL+QingKe+HuangYou&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

*{

    margin: 0;
    padding: 0;
    outline: none;
    list-style-type:none ;
    text-decoration: none;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f5f5f5;
}
#logo{
    width: 43%;
    height: 45%;
}
 #logo img{
    width: 60%;
    height: 84%;
    cursor: pointer;
    object-fit: cover;
}
#buscar form{
    position: absolute;
    width: 45%;
    height: auto;
    top: 7.5rem;
    left: 29rem;
}
#buscar input[type=text]{
    width: 40%;
    border: 2px solid #ccc;
    border-radius:4px;
    font-size: 1rem;
    background-color: ghostwhite;
    padding: .8rem .8rem .8rem 1rem;
    transition: width 0.3s ease-in-out;
}
#buscar input[type=text]:focus{
    width: 85%;
    border-width: thin;
    border-color: royalblue;
    box-shadow: 0 0 4px 0 rgb(65, 105, 225);
}

#buscar button{
    position: relative;
    right: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#buscar .fas{
    font-size: 1rem;
    cursor: pointer;
}
#conta{
   width: 30%;
   position: relative;
   bottom: 40%;
   left: 65%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#conta button{
    position: relative;
    width: auto;
    background-color: #a9a9a9;
    color: white;
    padding: .8rem 1rem;
    border: none;
    cursor: pointer;
    font-family: "cinzel",sans-serif ;
    font-size: .83rem;
    letter-spacing: .2rem;
    font-weight: 800;
    border-radius: .3rem;
}
#conta button:hover{
    opacity: .8;
}
.mostrar{
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 5rem;
    width: 40%;
    height: 87%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 1.5rem;
}
.animate{
    animation: zoomFormulario 0.6s;
}
@keyframes zoomFormulario{
    from {transform: scale(0);}
    to {transform: scale(1);}
}
.mostrar-conteudo{
    background-color: #fefefe;
    margin: 5% auto 10% auto;
    border: none;
    width: 90%;
    height: 90%;
    border-radius: .3rem;
}
.close{
    text-align: right;
    position: relative;
    margin: 24px 0 12px 0;
}
.fechar{
    position: absolute;
    right: .3rem;
    top: 0;
    color: #000;
    font-size: 2.2rem;
    cursor: pointer;
    font-weight: bold;
}
.fechar:hover{
    color:  #f44336;
}
.cadastro{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
}
.cadastro h2{
    font-family:"Doppio One",sans-serif;
    margin-bottom: .8rem;
}
.cadastro label{
    text-transform:uppercase;
    font-weight: 900;
    letter-spacing: .2rem;
    font-size: 1rem;
    cursor: text;
}
.cadastro input[type=email],.cadastro input[type=password]{
    width: 100%;
    padding: .7rem 1.3rem;
    margin: .4rem 0;
    display: block;
    border-radius: .4rem;
    border-width: thin;
    border-color: #ccc;
}
.cadastro input[type=email]:focus,.cadastro input[type=password]:focus{
    border-color: royalblue;
    border-radius: .4rem;
    box-shadow: 0 0 5px 0 rgb(65, 105, 225);
}
a.psw{
    color: #707070;
    text-transform: initial;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: .8rem;
}
.cadastro a:hover{
    color: royalblue;
    text-decoration: underline;
}
.cadastro button[type=submit]{
    width: auto;
    color: white;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    padding: .6rem 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}
.cadastro button:hover{
    opacity: .8;
}
#topnav{
    width: 100%;
    height: 80%;
    position: relative;
    bottom: 8.5rem;
}
.navItem{
    color: #707070;
    padding: .7rem 1.2rem;
    font-size: 1.2rem;
    font-family: "Kiwi Maru",serif;
    font-weight: 600;
    letter-spacing: .15rem;
    margin-left: 2.6rem;
    line-height: 4rem;
}
.navItem:hover{
    opacity: .8;
}
.slideNav{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slideNav img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}